@use "fonts";
@use "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: fonts.$font-family;
  background: colors.$title-page-color;
  transition: background-color 1s ease;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  color: colors.$card-text-color;
}
#title-container {
  .title,
  .subtitle {
    color: colors.$title-page-text-color;
  }
  .title-wrap {
    position: absolute;
    z-index: -1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    &.hidden {
      opacity: 0;
      transform: translateY(-100px);
    }
  }
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-left: 2rem;
  scroll-snap-align: start;
}
#generate-card-container {
  min-height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .card {
    margin: 5rem 0;
  }
}
.card {
  margin: 1rem 0;
  border-radius: 25px;
  align-self: center;
  background: #ccdbfd;
  box-shadow: 5px 5px 10px #b6c3e1, -5px -5px 10px #e2f3ff;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  padding: 2rem 1rem;
  opacity: 1;
  transition: opacity 0.5s ease, transform 1s ease;
  &.hidden {
    opacity: 0;
  }

  .card-image {
    label {
      display: block;
      width: 150px;
      height: 150px;
      border: 1px solid colors.$dark-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      display: none;
    }
  }
  .card-block {
    border-radius: 27px;
    max-width: 100%;
    background: #c9d9fd;
    box-shadow: 8px 8px 16px #bfcef0, -8px -8px 16px #d3e4ff;
    padding: 1rem 2rem 1rem 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
    border: none;

    h3 {
      display: inline;
      font-weight: 400;
    }
    .card-block-content {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    input {
      max-width: 100%;
      border: none;
      border-radius: 10px;
      background: #c9d9fd;
      box-shadow: 8px 8px 16px #b7c5e6, -8px -8px 16px #dbedff;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      font-size: 1.2rem;
      margin-left: 0.5rem;
      transition: box-shadow 0.5s ease;
      &::placeholder {
        color: #757575;
      }
      &:focus {
        outline: none;
        box-shadow: inset 9px 9px 18px #b3c1e1, inset -9px -9px 18px #dff1ff;
      }
    }
    span {
      &[contenteditable="true"] {
        max-width: 100%;
        white-space: pre-line;
        display: inline-block;
        min-height: 150px;
        width: 300px;
        border-radius: 10px;
        background: #c9d9fd;
        box-shadow: 8px 8px 12px #bdccee, -8px -8px 12px #d5e6ff;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-size: 1.2rem;

        &:empty::before {
          content: attr(placeholder);
          color: #757575;
        }

        &:focus {
          outline: none;
          box-shadow: inset 9px 9px 18px #b3c1e1, inset -9px -9px 18px #dff1ff;
        }
      }
    }
    &.submit-btn {
      border-radius: 10px;
      text-align: center;
      font-size: 1rem;
      &:active {
        box-shadow: inset 9px 9px 18px #b3c1e1, inset -9px -9px 18px #dff1ff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    &.block-stretch {
      width: 85%;
      .card-block-content {
        display: flex;
        align-items: center;
        justify-content: stretch;
      }
      input {
        width: 100%;
      }
    }
    &.block-stretch-full {
      width: 100%;
    }
  }
}

#ready-card-container {
  min-height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
  &.hidden {
    visibility: hidden;
    display: none;
  }
  .card {
    width: 70%;
    background: #c9d9fd;
    box-shadow: 5px 5px 13px #bfcef0, -5px -5px 13px #d3e4ff;
    .card-block {
      background: #c9d9fd;
      box-shadow: 8px 8px 16px #bfcef0, -8px -8px 16px #d3e4ff;
      h3 {
        word-break: break-all;
      }
    }
  }
  #add-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }

  .links-button {
    border-radius: 50%;
    background: #c9d9fd;
    box-shadow: 8px 8px 16px #bfcef0, -8px -8px 16px #d3e4ff;
    width: 5rem;
    height: 5rem;
    border: none;
    padding: 1rem;
    font-size: 0.75rem;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
