<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CardGenerator</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container">
      <div id="title-container">
        <div class="title-wrap">
          <h1 class="title">Introduce yourself</h1>
          <h2 class="subtitle">But in a quick way</h2>
        </div>
      </div>
      <div id="generate-card-container">
        <div class="card" id="generate-card" class="hidden">
          <div class="card-block">
            <div class="card-block-content">
              <h3>Hello!</h3>
            </div>
          </div>
          <div class="card-block">
            <div class="card-block-content">
              <h3>My name is</h3>
              <input
                type="text"
                name="name"
                id="nameInput"
                placeholder="John Johnson"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="card-block">
            <div class="card-block-content">
              <h3>I am</h3>
              <input
                type="text"
                name="job"
                id="jobInput"
                placeholder="Software Engineer"
              />
            </div>
            <div class="card-block-content">
              <h3>In</h3>
              <input
                type="text"
                name="company"
                id="companyInput"
                placeholder="Company's name"
              />
            </div>
          </div>
          <div class="card-block">
            <div class="card-block-content">
              <span
                name="description"
                id="descriptionInput"
                role="textarea"
                placeholder="Describe yourself"
                contenteditable="true"
              ></span>
            </div>
          </div>
          <div class="card-block block-stretch">
            <div class="card-block-content">
              <h3>Email:</h3>
              <input
                type="email"
                name="email"
                id="emailInput"
                placeholder="johnjohnson@gmail.com"
              />
            </div>
          </div>
          <div class="card-block">
            <div class="card-block-content">
              <h3>Phone:</h3>
              <input
                type="tel"
                name="number"
                id="numberInput"
                placeholder="+48 788 695 555"
              />
            </div>
          </div>
          <button
            type="submit"
            id="submitbtn"
            class="card-block block-stretch-full submit-btn"
          >
            Create a card!
          </button>
        </div>
      </div>

      <div id="ready-card-container">
        <div class="left">

          <div class="card">
            <div class="card-block">
              <div class="card-block-content">
                <h3>Hello!</h3>
              </div>
            </div>
            <div class="card-block">
              <div class="card-block-content">
                <h3>My name is Illia</h3>
              </div>
            </div>
            <div class="card-block">
              <div class="card-block-content">
                <h3>I am Digital Assistant At Google</h3>
              </div>

            </div>
            <div class="card-block">
              <div class="card-block-content">
                <h3>I help people to manage their tasks in a specific way</h3>
              </div>
            </div>
            <div class="card-block">
              <div class="card-block-content">
                <h3>
                  Also I like dogs :)
                </h3>
              </div>
            </div>
            <div class="card-block block-stretch">
              <div class="card-block-content">
                <h3>My Email:
                  <a
                    href="mailto:notawril@gmail.com"
                  >notawril@gmail.com</a></h3>
              </div>
            </div>
            <div class="card-block">
              <div class="card-block-content">
                <h3>Phone number:
                  <a href="tel:+380958539914">+380958539114</a></h3>

              </div>
            </div>

          </div>
          <div id="add-links-container">
            <button id="add-link-btn" class="links-button">
              Add link
            </button>
            <button id="add-telegram-btn" class="links-button">
              Add Telegram
            </button>
            <button id="add-whatsapp-btn" class="links-button">
              Add WhatsApp
            </button>
          </div>
        </div>
        <div class="right">
          <div id="qrcode"></div>
        </div>
      </div>

    </div>
    <script src="/js/qrcode.js"></script>
    <script src="/js/script.js"></script>
    </script>
  </body>
</html>