<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CardGenerator</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container">

      <div id="title-container">
        <h1 class="title">Introduce yourself</h1>
        <h2 class="subtitle">But in a quick way</h2>
      </div>
      <div id="generate-card-container">
        <div id="card" class="hidden">
          <div class="card-image">
            <label for="imageinput" class="image-label">
              Image upload
            </label>
            <input type="file" name="imageinput" id="imageinput" />
          </div>
          <div class="card-name">
            <label for="name">How can we call you?</label>
            <input
              type="text"
              name="name"
              id="nameinput"
              placeholder="John Johnson"
            />
          </div>
          <div class="card-phone">
            <label for="phone">What's your phone number?</label>
            <input
              type="text"
              name="phone"
              id="phoneinput"
              placeholder="+380958539114"
            />
          </div>
          <div class="card-company">
            <label for="company">What's your company name?</label>
            <input
              type="text"
              name="company"
              id="companyinput"
              placeholder="Google"
            />
          </div>
          <div class="card-company-position">
            <label for="companyPosition">Your position at it?</label>
            <input
              type="text"
              name="companyPosition"
              id="companyPositionInput"
              placeholder="UX/UI Designer"
            />
          </div>
          <div class="card-description">
            <label for="description">Tell some words about yourself</label>
            <textarea
              type="text"
              name="description"
              id="descriptionInput"
              placeholder="I am cool guy"
            ></textarea>
          </div>

        </div>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>