.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to right top, #d9a7c7, #fceed6);
  transition: background-color 1s ease;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  color: #6c415e;
}

#title-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  scroll-snap-align: start;
}
#title-container .title,
#title-container .subtitle {
  color: #885b79;
}
#title-container .title-wrap {
  z-index: -1;
  margin-left: 1rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
#title-container .title-wrap.hidden {
  opacity: 0;
  transform: translateY(-100px);
}
#title-container .card-title-container {
  width: 30vw;
  margin-right: 10vw;
  position: relative;
  z-index: 999;
  opacity: 1;
}
#title-container .card-title-container .glass-card {
  width: 100%;
}
#title-container .card-title-container .circle1,
#title-container .card-title-container .circle2 {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
#title-container .card-title-container .circle1 {
  top: -5%;
  left: -20%;
}
#title-container .card-title-container .circle2 {
  bottom: -5%;
  right: -20%;
}

#generate-card-container {
  min-height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
}
#generate-card-container .glass-card {
  margin: 5rem 0;
}
#generate-card-container .card-wrapper {
  position: relative;
}
#generate-card-container .card-wrapper .circle1,
#generate-card-container .card-wrapper .circle2 {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 7rem;
  width: 7rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
#generate-card-container .card-wrapper .circle1 {
  top: 2%;
  left: -15%;
}
#generate-card-container .card-wrapper .circle2 {
  bottom: 2%;
  right: -15%;
}

.glass-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
  border-radius: 2rem;
  opacity: 1;
}
.glass-card a {
  color: black;
  text-decoration: none;
}
.glass-card .card-block {
  padding: 1rem 2rem 1rem 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
  background: linear-gradient(to right bottom, white, rgba(255, 255, 255, 0.2));
  border-radius: 1.5rem;
  color: #6c415e;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-card .card-block h3 {
  display: inline;
  font-weight: 400;
  word-break: break-word;
}
.glass-card .card-block .card-block-content:not(:last-child) {
  margin-bottom: 1.5rem;
}
.glass-card .card-block span[contenteditable=true] {
  max-width: 100%;
  white-space: pre-line;
  display: inline-block;
  min-height: 150px;
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(to right bottom, white, rgba(255, 255, 255, 0.2));
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
  transition: box-shadow 0.5s ease;
}
.glass-card .card-block span[contenteditable=true]:empty::before {
  content: attr(placeholder);
  color: #757575;
}
.glass-card .card-block span[contenteditable=true]:focus {
  outline: none;
  box-shadow: inset 9px 9px 18px #f0d5dc, inset -9px -9px 18px #f0d5dc;
}
.glass-card .card-block input {
  max-width: 100%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right bottom, white, rgba(255, 255, 255, 0.2));
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: box-shadow 0.5s ease;
}
.glass-card .card-block input::placeholder {
  color: #757575;
}
.glass-card .card-block input:focus {
  outline: none;
  box-shadow: inset 9px 9px 18px #f0d5dc, inset -9px -9px 18px #f0d5dc;
}
.glass-card .card-block.submit-btn {
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  transition: box-shadow 0.5s ease;
}
.glass-card .card-block.submit-btn:active {
  box-shadow: inset 9px 9px 18px #f0d5dc, inset -9px -9px 18px #f0d5dc;
}
.glass-card .card-block:last-child {
  margin-bottom: 0;
}
.glass-card .card-block.block-stretch {
  width: 100%;
}
.glass-card .card-block.block-stretch .card-block-content {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.glass-card .card-block.block-stretch input {
  width: 80%;
}
.glass-card .card-block.block-stretch-full {
  width: 100%;
}

#ready-card-container {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 2rem;
}
#ready-card-container .left {
  width: 40%;
}
#ready-card-container .left .glass-card {
  width: 80%;
}
#ready-card-container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ready-card-container.hidden {
  visibility: hidden;
  display: none;
}

/*# sourceMappingURL=index.css.map */
